.base {
  background: 'white';
  padding: '1px 12px';
  fontWeight: 500;
  minWidth: '160px';
  maxWidth: '280px';
  boxShadow: '0 0 1px 1px #ccc';
  borderTopWidth: '4px';
  borderTopStyle: 'solid';
  borderTopColor: '#F54402';
}